# SPDX-FileCopyrightText: 2026 Andrey Kotlyar <guitar0.app@gmail.com>
# SPDX-License-Identifier: AGPL-3.0-or-later

# Copy to .env and fill in the values
# cp .env.example .env

GRAFANA_ADMIN_PASSWORD=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
